<div id="login-container" class="login-container">
    <div class="login-head">
        <h2>
            Welcome back!
        </h2>
    </div>
    <div id="login-form" class="login-form">
        <form>
            <input type="text" name="username" id="username" class="form" placeholder="username"/>
        </form>
        <form>
            <input type="text" name="password" id="password" class="form" placeholder="password"/>
        </form>
        <div class="btn">
        <button type="submit" class="login-btn" id="password">Sign-in</button>
        </div>
    </div>
</div>